.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f7f9fc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #0056b3;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    width: 500px;
    border: 1px solid #ccc;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
  }
  
  .camera-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
  }
  
  .camera-button img {
    width: 20px;
    height: 20px;
  }
  
  .search-button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .apply-button {
    background-color: #ff6700;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
  }
  
  /* Navigation Bar Styles */
  .main-nav {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-nav li {
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
  }
  
  .main-nav .active {
    color: #0056b3;
    font-weight: bold;
    border-bottom: 2px solid #0056b3;
  }
  