.trademark-card {
  display: flex;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.trademark-card>div {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.trademark-mark img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.trademark-details {
  /* border: 2px solid black; */
  gap: 30px;
}

.trademark-details-mark-owner {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
}


.trademark-details-mark-number {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
}

.trademark-details h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.trademark-owner,
.trademark-number,
.trademark-date {
  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}

.trademark-status {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* border: 2px solid black; */
}

.trademark-status-label-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid black; */
}

.status-label.registered {
  color: #28a745;
  /* Green */
}

.status-label.pending {
  color: #ffc107;
  /* Yellow */
}

.status-label.abandoned {
  color: #dc3545;
  /* Red */
}

.status-label.other {
  color: #007bff;
  /* Blue */
}

.status-date,
.history-date,
.trademark-renewal {
  margin: 5px 0;
  font-size: 0.8em;
  color: #888;
}

.trademark-class {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border: 2px solid black; */
}

.trademark-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  margin: 0;
}

.trademark-class-info {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #555;
}


.trademark-expand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-icon {
  cursor: pointer;
  font-size: 1.2em;
  color: #797979;
  transition: color 0.3s;
  padding: 8px;
  background-color: #ebebeb;
  border-radius: 100px 100px 100px 100px;
}

.expand-icon:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .trademark-card {
    flex-direction: column;
  }
}